#header{
  height: 40px;
  width: 100%;
  text-align: center;
  color: #DE6D77;
  font-family: Inconsolata, Monaco, Consolas, 'Courier New', Courier;
  font-weight: 300;
}

#wrapper{
  width: 860px;
  height: auto;
  margin: 0 auto;
  position: relative;
}

#screen {
  height: 550px;
  border: solid 2px #5C636F;
  margin-top: 5px;
  position: relative;
  background: url(../img/grid.png) -2px 48px;
  background-color: rgba(0, 0, 0, 0.20);
}

#command-panel{
    width: 100%;
    min-height: 55px;
    margin: 0 !important;
    height: auto;
    border-color: #5C636F;
    border-style: solid;
    border-width: 2px;
    border-top: none;
    margin-top: 5px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.10);
}
/*'#ABB2BE', '#', '#5AB6C1', '#63ADE9', '#C57BDB', '#DE6D77']*/
#command-panel .front, #help-wrapper .front{
    color: #99C27C;
}

#command-panel .back, #help-wrapper .back{
    color: #DE6D77;
}

#command-panel .left, #help-wrapper .left{
    color: #5AB6C1;
}

#command-panel .right, #help-wrapper .right{
    color: #E1C090;
}

#command-panel .repeat, #help-wrapper .repeat, h2 .repeat{
    color: white;
}

#help-wrapper{
  position: absolute;
  z-index: 2;
  opacity: 0.65;
  top: 10px;
  left: 10px;
}

div.help-text{
  color: #5C636F;
  font-family: Inconsolata, Monaco, Consolas, 'Courier New', Courier;
  background-color: white;
  padding: 10px;
  min-width: 10px;
  max-width: 250px;
}
div.help-container{
  padding-bottom: 10px;
}
.help-container > button {
  float: right;
}

.help-container{
  /*display: none;*/
}
.vehicule{
  font-size: 5em;
  margin: 5px;
}

.vehicule-ok{
  color: white;
}

.vehicule-damaged{
  color: #DE6D77;
}

#vehicule span{
  transition: transform 500ms;
  padding-right: 5px;
}

#vehicule, div.target{
  bottom: 0px;
  left: 5px;
  position: absolute;
}
span.target{
  font-size: 3em;
  margin: 25px;
  color: white;
}

.target-achieved{
  color: #99C27C !important;
}

#actions{
  width: auto;
  text-align: right;
  padding-top: 10px;
}

/*#actions > button, #actions > button > span {
  margin-top: 5px;
}*/

#actions .btn-action-container {
  margin-bottom: 5px;
}

#commands > div {
  float: left;
}

#commands-wrapper{
  text-align: center;
  width: 100%;
  padding: 5px;
}

#commands {
  display: inline-block;
}
#game-wrapper{
  width: 800px;
  float: left;
}

body {
  background-color: #282C34;
}

btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
button:focus {
  outline:0 !important;
}

.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

.turn-left {
  transform: scale(-1, 1);
}

.turn-sign{
  font-size: 30em;
  transform: rotate(270deg);
}
h1 {
  font-size: 5em !important;
}
.warning-wrapper{
  background-color: white;
  text-align: center;
  display:table-cell;
  vertical-align:middle;
  width: 100vw;
  height: 100vh;
}

.glyphicon{
  line-height: initial !important;
  opacity: 1 !important;
}

div.stack-item {
  margin-bottom: 5px;
  margin-right: 5px;
}

div.button-source {
  display: none;
}
div.next-level-container{
  padding-top: 250px;
}
div.next-level-container, div.end-container {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 99;
  position: absolute;
  text-align: center;
}

.code {
  color: white;
  border: none;
  background-color: transparent;
  text-align: left;
  padding-top: 150px;
  font-size: 14pt;
}

span.code-purple{
  color: #C57BDB;
}

span.code-blue{
  color: #65B0ED;
}

span.code-green{
  color: #99C27C;
}

div.btn-next{
  margin-right: auto; margin-left: auto;
  width: auto;
  height: auto;
}
